/* adding styles for merkle page */
/* change the font to better display hashes */
.merkle_ops {
	max-width: 70%;
	margin: auto;
	padding: 25px;
}

.merkle_ops a[href*="http"], a.hashlink {
	background: url(https://mdn.mozillademos.org/files/12982/external-link-52.png) no-repeat 100%;
	background-size: 15px;
	padding-right: 18px;
}

.merkle_ops, .merkle_ops button, .merkle_ops input {
	font-family: Consolas, courier, monospace;
	font-size: 20px;
}

.block_info {
	padding: 20px;
}

.block_info p {
	padding: 5px;
}

#info {
	font-weight: bold;
	font-size: 25px;
}

.block_info span {
	font-weight: normal;
}

#TxsBtn{
	margin-left: 25px;
	margin-top: 15px;
}

#hash_one, .results{
	color: #0cbb65;
}

.mrkl {
	margin-bottom: 35px;
	width: 85%;
	display: block;	
	margin-left: auto;
	margin-right: auto;	
}

li.results {
	list-style-type: none;
}

.results::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
  
.tree ul, .tree li{
	padding: 15px;
}

li.round_one {
	color: red;
}

li.round_two {
	color: blue;
}

li.round_three {
	color: magenta;
}

li.round_four {
	color: black;
}

li.root {
	color: #0cbb65;
}

/* Responsive layout - when the screen is less than 700px wide, make the two 
   columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.mrkl {
		width: 100%;
	}
	
	.merkle_ops {
		max-width: 100%;
		margin: auto;
		padding: 10px;
	}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation 
   links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.mrkl {
		width: 100%;
	}
	
	.merkle_ops {
		max-width: 100%;
		margin: auto;
		padding: 10px;
	}
}
