/* adding styles for merkle page */
/* change the font to better display hashes */
.merkle_ops, .merkle_ops button, .merkle_ops input {
	font-family: Consolas, courier, monospace;
	font-size: 20px;
}
.block_info {
	padding: 20px;
}

.block_info p {
	padding: 5px;
}

#info {
	font-weight: bold;
	font-size: 25px;
}

.block_info span {
	font-weight: normal;
}